%table.table.table-dark
  %th Наименование
  %th Изображение
  %th Описание
  %th Цена
    
  - @products.each do |product|
    %tr.bg-success
    %td= product.name
    %th= image_tag(product.image) if product.image.present?
    %td= product.description
    %td= number_to_currency(product.price)
    %td=link_to t('.view profile'), edit_admin_product_path(product)

